<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9S0x3C8oolsfEeKHv8xaz1hK69kK2fPg</string>
	<key>GCM_SENDER_ID</key>
	<string>358029028281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cosine.kidomo</string>
	<key>PROJECT_ID</key>
	<string>kidomo-59e99</string>
	<key>STORAGE_BUCKET</key>
	<string>kidomo-59e99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358029028281:ios:54caba7556da979c9b6468</string>
</dict>
</plist>